@font-face {
    font-family: 'Calluna';
    src: url('calluna-regular.woff2') format('woff2'),
        url('calluna-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

